
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.cabecalho {
  background-color: #333;
  padding: 10px;
  text-align: center;
}


#titulo {
  color: yellow;
  margin: 0;
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar li a:hover {
  background-color: #111;
}


.navbar::after {
  content: "";
  display: table;
  clear: both;
}


